@font-face {
  font-family: Stone; /* Гарнитура шрифта */
  src: url(../fonts/stone.otf); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: Micra; /* Гарнитура шрифта */
  src: url(../fonts/micra_bold.otf); /* Путь к файлу со шрифтом */
}

body {
  background: #222 url(../images/background.png) no-repeat;
  color: #fff;
  background-size: cover;
}

hr {
  border-color: #aaa;
  margin-bottom: 10px;
  margin-top: 0px;
}

.page-content {
  margin-bottom: 100px;
}

.logo {
  font-family: Stone;
  font-size: 550%;
  text-align: center;
  margin-top: 15px;
  opacity: 0.7;
}

.header {
  font-family: Stone;
  font-size: 450%;
  text-align: center;
  margin-top: 15px;
  color: #ccc;
}

.hint-button {
  background: transparent;
  border: none;
  font-family: Micra;
  font-size: 300%;
  text-align: center;
  color: #eee;
  opacity: 0.5;
}

.block-content {
  margin-top: 50px;
  margin-bottom: auto;
  padding: 20px;
}

.user-block {
  margin-top: 20px;
  padding: 10px;
  font-family: Micra;
  opacity: 0.6;
}

.user-block__avatar {
  margin: 10px;
}

.user-block__score {
  margin: 10px;
}

.registered_sign {
  position: relative;
  top: -30px;
  left: -25px;
}
 a:hover {
  text-decoration: none;
}
 a .hint_text:hover,
 a .hint_text:focus {
  color: #fff
}


.menu-button {
  font-size: 210%;
  font-family: Micra;
  color: #bbb;
  background-color: transparent;
  border: 5px solid;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  margin: 10px;
  float: center;
}

.menu-button:hover {
  color: #eee;
}

.menu-button:active {
  color: #fff;
}

.btn-flat {
  margin-top: 10px;
  color: #fff;
  font-family: Micra;
  background-color: transparent;
  border: #fff 2px solid;
  border-radius: 3px;
  padding-top: 5px;
  width: 100%;
  padding-bottom: 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

.btn-flat:hover {
  background-color: #fffe;
  color: #222;
}

.btn-flat:active {
  background-color: #15c311;
  border-color: #15c311;
  color: #fff;
}

.btn-flat-primary {
  background-color: #066ebb;
  border-color: #066ebb;
}

.btn-flat-primary:hover {
  background-color: #128be4;
  color: #fff;
  border-color: #128be4;
}

.btn-flat-primary:active {
  background-color: #37aaff;
  border-color: #37aaff;
}

.pull-right-button {
  float: right;
}

.input-light {
  background-color: #fffc;
  font-family: 'Micra';
}

.table {
  background-color: #0008;
  padding: 15px;
  font-family: Micra;
}

.table-hover > tbody > tr:hover {
  background-color: #3338;
}

.footer {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background-color: #0008;
  text-align: center;
  color: #aaa;
  font-size: 150%;
  font-family: Micra;
}
